PORT=3000
NODE_ENV=development
LISTEN_TYPE=local
LOG_LEVEL=debug
SERVER_NAME=auth-middleware
VERSION=1.1.0
AUTH_FORWARD_URL=http://auth-middleware:3000/verify

SECRET=0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef

OPENID_CLIENT_ID=testapp
OPENID_SECRET_FILE=./secrets/testapp.txt
OPENID_WELL_KNOWN=http://localhost:81/realms/myapp/.well-known/openid-configuration
OPENID_EXTERNAL_ORIGIN=http://localhost:81

AUTH_COOKIE_NAME=auth
SESSION_COOKIE_NAME=auth-session
COOKIE_DOMAIN=
COOKIE_SECURE=false
REDIRECT_URI=/oauth/callback

PG_USER=keycloak
PG_PASS=change-me-postgres-password
PG_DB=keycloakdb

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=change-me-keycloak-admin-password
